/*

!.gitignore

!.zshrc

!.Xresources

!.face

!.gtkrc-2.0

!.themes
.themes/*
!.themes/Materia-dark-compact/

!.config
.config/*
!.config/awesome/
!.config/picom.conf

!.local
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/
.local/share/fonts/*
!.local/share/fonts/Inter*